h1 {
    padding: 15px;
}

.cityState {
    width: 100%;
    font-size: 25px;
}

#cityState {
    width: 60%;
}

.zipCode {
    width: 100%; 
    font-size: 25px;  
}

#zipCode {
    width: 60%;
}
.currentCity h2 {
    padding-top: 180px;
}
.outsideBox {
    height: 400px;
    width: 80%;
    display: block;
    margin: 45px auto;
    text-align: center;
}

.container {
    border: teal 3px solid;
}

.currentDayMainRow {
    border: gray solid 3px; 
    padding: 20px;
}

.currentTempMiddle { 
    padding: 80px 0px; 
}

.middleCircle {
    font-size: 80px;
}

.middleTemp {
    font-size: 50px;
    padding: 0px;
}

.fiveDay {
    padding-top: 180px;
}

.currentRightDetails {
    padding: 5px 10px 0px 20px;
}

